<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/game.css" />
    <title>Game</title>
  </head>
  <body>
    <div id="game" class="container p-3">
      <!--
      {{#if saved_game}}
        {{> saved_game}}
      {{/if}}
      -->
      <form action="/auth/logout" method="post">
        <button type="submit">Logout</button>
      </form>

      <button
        id="delete-account-btn"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#delete-account-modal"
      >
        Delete account
      </button>

      <div
        class="modal fade"
        id="delete-account-modal"
        tabindex="-1"
        aria-labelledby="delete-account-modal-title"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-account-modal-title">Are you
                sure?</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>This action can't be undone.</p>
              <form action="/auth/delete-account" method="post">
                <button type="submit">Yes, delete all data</button>
              </form>
            </div>
            <div class="modal-footer justify-content-between">
            </div>
          </div>
        </div>
      </div>

      <form id="save-data-form" action="/game/save" method="post">
        <input
          id="save-data-currentHitPoints"
          type="hidden"
          name="currentHitPoints"
          value="{{character.currentHitPoints}}"
        />
        <input
          id="save-data-maximumHitPoints"
          type="hidden"
          name="maximumHitPoints"
          value="{{character.maximumHitPoints}}"
        />
        <input
          id="save-data-gold"
          type="hidden"
          name="gold"
          value="{{character.gold}}"
        />
        <input
          id="save-data-experience"
          type="hidden"
          name="experience"
          value="{{character.experience}}"
        />
        <input
          id="save-data-inventory"
          type="hidden"
          name="inventory"
          value="{{character.inventory}}"
        />
        <input
          id="save-data-level"
          type="hidden"
          name="level"
          value="{{character.level}}"
        />
        <input
          id="save-data-quests"
          type="hidden"
          name="quests"
          value="{{character.quests}}"
        />
        <input
          id="save-data-currentLocation"
          type="hidden"
          name="currentLocation"
          value="{{character.currentLocation}}"
        />
        <input
          id="save-data-currentWeapon"
          type="hidden"
          name="currentWeapon"
          value="{{character.currentWeapon}}"
        />
        <input
          id="save-data-currentPotion"
          type="hidden"
          name="currentPotion"
          value="{{character.currentPotion}}"
        />
        <input
          id="save-data-currentScroll"
          type="hidden"
          name="currentScroll"
          value="{{character.currentScroll}}"
        />
        <button id="save-data-submit" type="submit">Save</button>
      </form>

      <h1 class="text-center">Wyrm's Lair</h1>
      <p class="text-muted text-center fs-6 fst-italic">* Optimal Resolution
        768px x 700px</p>

      <div id="stats-location" class="row my-2">
        <div id="character-stats" class="col-md-6">
          <h2 class="h6">Stats</h2>
          <span class="d-block">Hp <span id="hit-points"></span></span>
          <span class="d-block">Gold <span id="gold"></span></span>
          <span class="d-block">Exp <span id="experience"></span></span>
          <span class="d-block">Lv <span id="level"></span></span>
        </div>
        <div id="location" class="col-md-6">
          <h2 class="h6">Location</h2>
          <p id="location-name"></p>
          <p id="location-description"></p>
        </div>
      </div>

      <div id="inventory-log" class="row my-2">
        <div id="inventory" class="col-md-6">
          <h2 id="inventory-toggle" class="h6">Inventory</h2>
          <table id="inventory-table" class="table table-hover">
          </table>
        </div>
        <div id="log" class="col-md-6">
          <h2 class="h6">Adventure Log</h2>
          <div id="log-display">
            <p>You wake up...</p>
          </div>
        </div>
      </div>

      <div id="quests-actions" class="row pt-5">
        <div id="quests" class="col-md-6">
          <h2 class="h6">Quests Log</h2>
          <table id="quests-table" class="table table-hover">
          </table>
        </div>
        <div id="character-actions" class="col-md-6">
          <div id="character-movement">
            <div>
              <button id="west" class="btn btn-outline-dark d-block">
                West
              </button>
            </div>
            <div>
              <button id="north" class="btn btn-outline-dark d-block">
                North
              </button>
              <button id="south" class="btn btn-outline-dark d-block">
                South
              </button>
            </div>
            <div>
              <button id="east" class="btn btn-outline-dark d-block">
                East
              </button>

            </div>
          </div>
          <div id="character-actions">
            <div>
              <button
                id="vendor-btn"
                type="button"
                class="btn btn-outline-primary d-none"
                data-bs-toggle="modal"
                data-bs-target="#vendor-modal"
              >
                Trade
              </button>

              <div
                class="modal fade"
                id="vendor-modal"
                tabindex="-1"
                aria-labelledby="vendor-modal-title"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="vendor-modal-title"></h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <h2 class="h5 mb-3" id="vendor-title"></h2>
                        <div id="vendor-vendor-inventory">
                          <table
                            id="vendor-vendor-table"
                            class="table table-hover"
                          >
                          </table>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <h2 class="h5 mb-3">My Inventory</h2>
                        <div id="vendor-player-inventory">
                          <table
                            id="vendor-player-table"
                            class="table table-hover"
                          >
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <p id="vendor-player-gold"></p>
                      <p id="vendor-modal-location"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <button
                id="craft-btn"
                type="button"
                class="btn btn-outline-primary d-none"
                data-bs-toggle="modal"
                data-bs-target="#craft-modal"
              >
                Craft
              </button>

              <div
                class="modal fade"
                id="craft-modal"
                tabindex="-1"
                aria-labelledby="craft-modal-title"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="craft-modal-title"></h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <h2 class="h5 mb-3" id="craft-title"></h2>
                      <h3 class="h5 mb-3" id="craft-recipe-title"></h3>
                      <div class="d-flex justify-content-around">
                        <div>
                          <p id="craft-item-take-name"></p>
                          <p id="craft-item-take-quantity"></p>
                        </div>
                        <span>&gt;</span>
                        <div>
                          <p id="craft-item-give-name"></p>
                          <p id="craft-item-give-quantity"></p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <p></p>
                      <p id="craft-modal-location"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <select id="weapon-options" class="form-select d-none">
              </select>
              <button
                id="weapon-btn"
                class="btn btn-outline-danger d-none"
              >Attack</button>
            </div>

            <div class="form-group">
              <select id="potion-options" class="form-select d-none">
              </select>
              <button
                id="potion-btn"
                class="btn btn-outline-success d-none"
              >Drink</button>
            </div>

            <div class="form-group">
              <select id="scroll-options" class="form-select d-none">
              </select>
              <button
                id="scroll-btn"
                class="btn btn-outline-warning d-none"
              >Cast</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP DEPENDENCIES -->
    <script
      src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"
    ></script>

    <!-- game engine -->

    <script src="js/game.js" type="module"></script>
  </body>
</html>