<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/game.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>Wyrm's Lair</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/images/brand.png" />
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#game-navbar"
          aria-controls="main-navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="game-navbar" style="">
          <ul class="navbar-nav ms-auto d-flex align-items-center">

            <li class="nav-item mx-2 py-2">
              <div class="controls-container">
                <button
                  id="controls"
                  type="button"
                  class="btn btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#controls-modal"
                >
                  Controls
                </button>
              </div>

              <div
                class="modal fade"
                id="controls-modal"
                tabindex="-1"
                aria-labelledby="controls-modal-title"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        id="controls-modal-title"
                      >Controls</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <h5>Movement</h5>
                        <p>[W] - Move North</p>
                        <p>[A] - Move West</p>
                        <p>[S] - Move South</p>
                        <p>[D] - Move East</p>

                        <h5>Actions</h5>
                        <p>[Q] - Use Weapon</p>
                        <p>[E] - Use Potion</p>
                        <p>[R] - Use Scroll</p>
                        <p>[F] - Open Trade</p>
                        <p>[G] - Open Craft</p>
                        <p>[Esc] - Exit Menu</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item mx-2 py-2">
              <form
                class="link-form"
                id="save-data-form"
                action="/game/save"
                method="post"
              >
                <input
                  id="save-data-currentHitPoints"
                  type="hidden"
                  name="currentHitPoints"
                  value="{{character.currentHitPoints}}"
                />
                <input
                  id="save-data-maximumHitPoints"
                  type="hidden"
                  name="maximumHitPoints"
                  value="{{character.maximumHitPoints}}"
                />
                <input
                  id="save-data-gold"
                  type="hidden"
                  name="gold"
                  value="{{character.gold}}"
                />
                <input
                  id="save-data-experience"
                  type="hidden"
                  name="experience"
                  value="{{character.experience}}"
                />
                <input
                  id="save-data-inventory"
                  type="hidden"
                  name="inventory"
                  value="{{character.inventory}}"
                />
                <input
                  id="save-data-level"
                  type="hidden"
                  name="level"
                  value="{{character.level}}"
                />
                <input
                  id="save-data-quests"
                  type="hidden"
                  name="quests"
                  value="{{character.quests}}"
                />
                <input
                  id="save-data-currentLocation"
                  type="hidden"
                  name="currentLocation"
                  value="{{character.currentLocation}}"
                />
                <input
                  id="save-data-currentWeapon"
                  type="hidden"
                  name="currentWeapon"
                  value="{{character.currentWeapon}}"
                />
                <input
                  id="save-data-currentPotion"
                  type="hidden"
                  name="currentPotion"
                  value="{{character.currentPotion}}"
                />
                <input
                  id="save-data-currentScroll"
                  type="hidden"
                  name="currentScroll"
                  value="{{character.currentScroll}}"
                />
                <input
                  id="save-data-hasSlayWyrm"
                  type="hidden"
                  name="hasSlayWyrm"
                  value="{{character.hasSlayWyrm}}"
                />
                <button
                  class="btn btn-success"
                  id="save-data-submit"
                  type="submit"
                >Save</button>
              </form>
            </li>
            <li class="nav-item mx-2 py-2">
              <button
                id="delete-account-btn"
                class="btn btn-danger"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#delete-account-modal"
              >
                Delete account
              </button>

              <div
                class="modal fade"
                id="delete-account-modal"
                tabindex="-1"
                aria-labelledby="delete-account-modal-title"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5
                        class="modal-title"
                        id="delete-account-modal-title"
                      >Are you sure?</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <p class="text-center">This action can't be undone.</p>
                      <form
                        class="text-center"
                        action="/auth/delete-account"
                        method="post"
                      >
                        <button class="btn btn-danger" type="submit">Yes, delete
                          all data</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item mx-2 py-2">
              <form class="link-form" action="/auth/logout" method="post">
                <button class="btn btn-secondary" type="submit">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="game" class="container p-3">

      <div id="location" class="row my-2 text-center">
        <div id="location" class="col-md-7 mx-auto p-2">
          <p id="location-name"></p>
          <p id="location-description"></p>
        </div>
      </div>

      <div class="row my-2">
        <div id="inventory-quests" class="col-md-6">
          <div id="inventory" class="mb-2">
            <table id="inventory-table" class="table table-hover">
            </table>
          </div>
          <div id="quests">
            <table id="quests-table" class="table table-hover">
            </table>
          </div>
        </div>
        <div id="log" class="col-md-6">
          <h2 class="h6">Adventure Log</h2>
          <div id="log-display">
            <p>You wake up...</p>
          </div>
        </div>
      </div>

      <div id="stats" class="row my-2">
        <div id="character-stats" class="col-md-6">
          <h2 class="h6">Stats</h2>
          <span class="d-block">Race <span id="race"></span></span>
          <span class="d-block">Hp <span id="hit-points"></span></span>
          <span class="d-block">Gold <span id="gold"></span></span>
          <span class="d-block">Exp <span id="experience"></span></span>
          <span class="d-block">Lv <span id="level"></span></span>
        </div>
      </div>

      <div id="actions" class="row">
        <div
          id="character-cities-actions"
          class="col-md-2 d-flex justify-content-around align-items-center"
        >
          <button
            id="vendor-btn"
            type="button"
            class="btn btn-outline-primary d-none"
            data-bs-toggle="modal"
            data-bs-target="#vendor-modal"
          >
            Trade
          </button>

          <div
            class="modal fade"
            id="vendor-modal"
            tabindex="-1"
            aria-labelledby="vendor-modal-title"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="vendor-modal-title"></h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <h2 class="h5 mb-3" id="vendor-title"></h2>
                    <div id="vendor-vendor-inventory">
                      <table id="vendor-vendor-table" class="table table-hover">
                      </table>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <h2 class="h5 mb-3">My Inventory</h2>
                    <div id="vendor-player-inventory">
                      <table id="vendor-player-table" class="table table-hover">
                      </table>
                    </div>
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <p id="vendor-player-gold"></p>
                  <p id="vendor-modal-location"></p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <button
              id="craft-btn"
              type="button"
              class="btn btn-outline-primary d-none"
              data-bs-toggle="modal"
              data-bs-target="#craft-modal"
            >
              Craft
            </button>

            <div
              class="modal fade"
              id="craft-modal"
              tabindex="-1"
              aria-labelledby="craft-modal-title"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="craft-modal-title"></h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <h2 class="h5 mb-3" id="craft-title"></h2>
                    <h3 class="h5 mb-3" id="craft-recipe-title"></h3>
                    <div
                      class="d-flex justify-content-around align-items-center"
                    >
                      <div>
                        <p id="craft-item-take-name"></p>
                        <p id="craft-item-take-quantity"></p>
                      </div>
                      <span>&gt;</span>
                      <div>
                        <p id="craft-item-give-name"></p>
                        <p id="craft-item-give-quantity"></p>
                      </div>
                    </div>

                    <div id="craft-convert-btn-container">

                    </div>
                    <p id="craft-not-enough-components" class="text-center">You
                      don't have the components...</p>
                  </div>
                  <div class="modal-footer justify-content-between">
                    <p></p>
                    <p id="craft-modal-location"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="character-actions" class="col-md-4">
          <div id="character-movement">
            <div>
              <button id="west" class="btn btn-outline-dark d-block">
                West
              </button>
            </div>
            <div>
              <button id="north" class="btn btn-outline-dark d-block">
                North
              </button>
              <button id="south" class="btn btn-outline-dark d-block">
                South
              </button>
            </div>
            <div>
              <button id="east" class="btn btn-outline-dark d-block">
                East
              </button>
            </div>
          </div>
        </div>

        <div id="character-combat-actions" class="col-md-6">
          <div class="row justify-content-between">
            <div class="form-group col-3 d-flex flex-column align-items-center">
              <button
                id="weapon-btn"
                class="btn btn-outline-danger mb-2 d-none"
              >Attack</button>

              <select id="weapon-options" class="form-select d-none">
              </select>
            </div>
            <div class="form-group col-3">
              <button
                id="potion-btn"
                class="btn btn-outline-success mb-2 d-none"
              >Drink</button>

              <select id="potion-options" class="form-select d-none">
              </select>
            </div>

            <div class="form-group col-3">
              <button
                id="scroll-btn"
                class="btn btn-outline-warning mb-2 d-none"
              >Cast</button>

              <select id="scroll-options" class="form-select d-none">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP DEPENDENCIES -->
    <script
      src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.4.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"
    ></script>

    <!-- game engine -->

    <script src="js/game.js" type="module"></script>
  </body>
</html>